In [4]:
import pandas as pd

df = pd.read_csv("teacher_ratings.csv")
df.head()

   age  gender  beauty  eval tenure  students     prof
0   57    Male    9.59  4.24    Yes        14  Prof_52
1   43    Male    9.53  9.58     No        38  Prof_93
2   36    Male    4.34  9.68     No       174  Prof_15
3   49    Male    6.13  9.40    Yes       145  Prof_72
4   47  Female    4.70  5.59    Yes       154  Prof_61

Q1. Using the teachers' rating dataset, what is the probability of receiving an evaluation score of greater than 4.5

A1.

In [6]:
total = len(df)
greater_45 = len(df[df['eval'] > 4.5])

# Probability calculation
probability = greater_45 / total
print("Probability of evaluation > 4.5:", probability)

Probability of evaluation > 4.5: 0.8

Q2. Using the teachers' rating dataset, what is the probability of receiving an evaluation score greater than 3.5 and less than 4.2

A2.

In [7]:
#count of scores between 3.5 and 4.2
between = len(df[(df['eval'] > 3.5) & (df['eval'] < 4.2)])

#probability calculation
probability_between = between / total
print("Probability of 3.5 < evaluation < 4.2:", probability_between)

Probability of 3.5 < evaluation < 4.2: 0.09

Q3. Using the two-tailed test from a normal distribution:
1. A professional basketball team wants to compare its performance with that of players in a regional league.
2. The pros are known to have a historic mean of 12 points per game with a standard deviation of 5.5.
3. A group of 36 regional players recorded on average 10.7 points per game.
4. The pro coach would like to know whether his professional team scores on average are different from that of the regional players.
State the null hypothesis
Null Hypo: ("The mean point of the regional players is not different from the historic mean")
Alternative Hypo: ("The mean point of the regional players is different from the historic mean")

A3. Given Data:
Population mean (μ) = 12
Population standard deviation (σ) = 5.5
Sample mean (x̄) = 10.7
Sample size (n) = 36
Significance level (α) = 0.05 (for 95% confidence)

###### State Hypotheses
Null Hypothesis (H₀): The mean points of regional players = 12
Alternative Hypothesis (H₁): The mean points of regional players ≠ 12

##### Compute Z-Statistic

In [8]:
import math
from scipy.stats import norm

#entering given data
mu = 12        # population mean
sigma = 5.5    # population std deviation
x_bar = 10.7   # sample mean
n = 36         # sample size

#Z-statistic
Z = (x_bar - mu) / (sigma / math.sqrt(n))
print("Z-score:", Z)

#Two-tailed test
alpha = 0.05
critical_value = norm.ppf(1 - alpha/2)
print("Critical Z value:", critical_value)

#Decision
if abs(Z) > critical_value:
    print("Reject Null Hypothesis (Means are significantly different)")
else:
    print("Fail to Reject Null Hypothesis (No significant difference)")

Z-score: -1.418181818181819
Critical Z value: 1.959963984540054
Fail to Reject Null Hypothesis (No significant difference)

##### Interpretation
If |Z| > 1.96 → Reject H₀
If |Z| ≤ 1.96 → Fail to reject H₀